/* body {
  font-family: 'Roboto', sans-serif;
} */

.content {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
    text-align: center;
}
  
h1 {
    padding-top: 125px;
    padding-left: 2rem;
    text-align: center;
    font-size: 2.0rem;
    color: #cd9a56;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1.2rem;
    color: #ddd;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.cta {
    font-size: 1.1rem;
    padding-top: 5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    color: #cd9a56;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.procedure-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}